.project-container {
    max-width: 768px;
}

.project-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.project-button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: hsl(0, 0%, 50%);
    margin: 0 1rem;
    cursor: pointer;
}

.project-button:hover {
    color: hsl(0, 0%, 0%);
}

.project-active {
    color: black;
}

.project-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.project-content {
    display: none;
}

.project-content-active {
    display: block;
}

/* PROJECT CARDS */
.project-card {
    display: flex;
    margin-bottom: 20rem;
}

.project-img {
   justify-self: center;
   position: absolute;
   height: 300px;
   left: 10%;
   filter: sepia(0.2);
   transition: transform 0.3s ease-out;
   border-radius: 0.25rem;
}

.project-img:hover {
    filter: sepia(0);
    transform: translate3d(-0.1rem, -0.15rem, 0);
    box-shadow: 10px 10px hsl(0, 0%, 46%);
}

.project-card-des {
    position: absolute;
    right: 10%;
    text-align: right;
}

.featured-project {
    color: hsl(0, 0%, 46%);
    font-size: var(--h3-font-size);
}

.project-title {
    color: hsl(0, 0%, 20%);
    font-size: var(--h2-font-size);
    font-weight: 500;
    transform: 0.3s ease-out;

}

.project-title:hover {
    color: hsl(0, 0%, 46%);
}

.project-description {
    background-color: #fff;
    border-radius: 0.25rem;
    height: 150px;
    width: 425px;
}

.project-stack {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.project-links > a {
    color: hsl(0, 0%, 20%);
    font-size: 1.25rem;
}

.project-links > a:hover {
    color: hsl(0, 0%, 46%);
}

/* MOBILE DEVICES */
@media screen and (max-width: 992px) {

    .project-card {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        background-color: #fff;
        padding: 3rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    .featured-project {
        display: none;
    }

    .project-img {
        position: relative;
        align-items: center;
        left: 0%;
    }

    .project-card-des {
        position: relative;
        text-align: center;
        right: 0%;
    }
}