/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES */
:root {
  --header-height: 3rem;

  /* COLORS */
  --body-color: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 46%);

  /* FONT, TYPOGRAPHY */
  /*--body-font: "Poppins", sans-serif;*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* FONT WEIGHT */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* MARGIN BOTTOMS */
  /* remember mb-0-25 is 0.25rem */

  /* Z INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* textarea {
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-font-size);
} */

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-font-size);
}

h1, h2, h3 {
  color: hsl(0, 0%, 20%);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.section {
  padding: 6rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: hsl(0, 0%, 20%);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
  text-align: center;
}

/* LAYOUT */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1rem;
}


/* BUTTONS */
.button {
  display: inline-block;
  background-color: hsl(0, 0%, 20%);
  color: white;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: black;
}

.button-icon {
  margin-left: 0.5rem;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/* MOBILE DEVICES */
@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .button {
    padding: 1rem 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0 3rem 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section-subtitle {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}